.todo-preview {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.todo-preview p {
    color: black;
    margin: 0;
}

.todo-preview p.done {
    text-decoration: line-through;
    color: gray;
}